<header class="fixed top-0 z-30 flex h-16 w-full justify-center opacity-90 backdrop-blur-md transition-all duration-100 bg-base-100 text-base-content shadow-sm px-4" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <nav class="navbar w-full">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
  
    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="btn btn-square btn-ghost menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
          </span>
        </label>
  
        <div class="trigger flex-none">
          <ul class="menu">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
                <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    </nav>
  {%- endif -%}
</header>
