@charset "utf-8";


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.site-nav {

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
    padding: 25%;
  }

  .page-link {
    line-height: 1.5;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query(600px) {

    .menu-icon {
      display: block;
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
  }
}
