---
layout: default
---

<main class="flex-col">

  
  <div class="hero min-h-screen" style="background-image: url('/assets/images/TardeDeSojaEChuva.jpeg');">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <figure><img src="{{ "/assets/images/corew_logo_b.png" | relative_url }}" /></figure>
        <p class="mb-5 text-lg">{{ site.description }}</p>
      </div>
    </div>
  </div>

  {%- if site.posts.size > 0 -%}
    <div class="hero bg-base-200" aria-label="Posts">
      <div class="hero-content max-w-5xl min-h-screen flex-col">
        <h1 class="text-5xl font-bold text-left w-full mb-auto">Fique por dentro</h1>
        <ul class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {%- for post in site.posts -%}
          <li class="card bg-base-100 shadow-md">
            <a href="{{ post.url | relative_url }}">
              <figure><img src="{{ post.image | relative_url }}" /></figure>
              <div class="card-body">
                <h2 class="card-title">
                  {{ post.title | escape }}
                </h2>
                <p>{{ post.summary | escape }}</p>
                <div class="card-actions justify-end">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span class="post-meta">{{ post.date | date: date_format }}</span>
                  {%- for category in post.categories -%}
                  <div class="badge badge-outline">{{ category }}</div>
                  {%- endfor -%} 
                </div>
              </div>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- endif -%}

</main>
