---
layout: default
---
<div class="hero bg-base-200 pt-20">
  <article class="post hero-content flex-col max-w-6xl" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header w-full">
      <a class="btn btn-link pl-0" href="{{ page.categories[0] | relative_url }}">{{ page.categories[0] }}</a>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>
  
    {%- if page.image -%}
      <img src="{{ page.image | relative_url }}" class="sm:max-w-sm lg:max-w-4xl rounded-lg shadow-2xl" />
    {%- endif -%}

    <div class="post-content e-content max-w-2xl" itemprop="articleBody">
      {{ content }}
    </div>
  
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
  
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
